/* Mobile styles */
.dash-footer a {
    text-decoration: none;
    color: #fff;
}
.dash-footer {
    width: 100%;
    background-color: #000;
    padding: 20px;
    color: #fff;
}
.dash-footer .row-1 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 0.5px solid #fff;
    padding-bottom: 20px;
}
.dash-footer .row-1 ul li {
    text-transform: uppercase;
}
.dash-footer .row-2 {
    padding: 30px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--color-white);
}
.dash-footer .end-lines {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.dash-footer h5 {
    text-align: center;
}
.foot-links {
    padding: 25px;
    gap: 45px;
    justify-content: center;
}
.donate-btn {
    width: 45%;
    background-color: var(--color-white);
    padding: 5px 9.5px 5px 25px;
    text-decoration: none;
    border-radius: 0px 27px 27px 27px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
}
.donate-btn h4 {
    color: #000;
}

@media (min-width: 1230px) {
    .dash-footer {
        padding: 20px 100px;
    }
    .dash-footer .row-1 {
        flex-flow: row;
        justify-content: space-between;
    }
    .dash-footer .row-2 {
        flex-flow: row;
        justify-content: space-between;
    }
    .dash-footer .row-1 ul,
    .dash-footer .row-2 .end-lines {
        display: flex;
        flex-flow: row;
        gap: 25px;
    }
    .donate-btn {
        width: 15%;
    }
}