#google_translate_element {
    width: 55%;
    font-family: Montserrat;
}
#google_translate_element .skiptranslate.goog-te-gadget {
    font-size: 0px;
}
#google_translate_element .skiptranslate.goog-te-gadget span {
    display: none;
}

.goog-te-combo {
    margin: 0px;
    width: 100%;
    background-color: var(--color-whitesmoke-200);
    padding: 15px 12.5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

@media (min-width: 768px) {
    #google_translate_element {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    #google_translate_element {
        width: 15%;
    }
}